mkdocs-material
mkdocs-macros-plugin
mkdocs-minify-plugin
mkdocstrings[python]
mkdocs-gen-files
pymdown-extensions
mkdocs-jupyter
mkdocs-include-dir-to-nav
mkdocs-literate-nav
mkdocs-site-urls
nbconvert>=7.17.0 # not directly required, pinned by Snyk to avoid a vulnerability
